.slider-item{
    position: relative;
    height: calc(100vh - 136.4px);
    
}

.slider-item .slider-image img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 60%;
}